    <footer>
        <div class="footer-columns">
            <div class="column">
                <h3>Yordam, ko'rsatmalar va maslahatlar</h3>
                <ul>
                    <li><a href="#">Qo'llab-quvvatlash xizmatiga yozish</a></li>
                    <li><a href="#">Ish o'rinlari</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>Hamkorlik</h3>
                <ul>
                    <li><a href="#">Biznes uchun ma'lumotlar bazasi</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>Ijtimoiy tarmoqlarda bo'ling</h3>
                <ul>
                    <li><a href="#">VKontakte</a></li>
                    <li><a href="#">Telegram</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>OAV uchun</h3>
                <ul>
                    <li><a href="mailto:pr@yandex-team.ru">pr@yandex-team.ru</a></li>
                </ul>
            </div>
            <div class="column">
                <h3>Huquqiy ma'lumotlar</h3>
                <ul>
                    <li><a href="#">Da'volarni oldindan ogohlantirish haqida</a></li>
                    <li><a href="#">Tavsiya qoidalari</a></li>
                    <li><a href="#">Huquqiy hujjatlar</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Edadil, 2025</p>
            <p>App Store - Apple Inc. kompaniyasining xizmat belgisi. Google Play va Google Play logotipi Google LLC kompaniyasining savdo belgilari. HUAWEI va HUAWEI logotipi Huawei Technologies Co., Ltd. kompaniyasining savdo belgilari.</p>
            <p>(b: 9bfda6c4d556465)</p>
        </div>
    </footer>