{% load static %}
<!-- HEADER -->
<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <!--                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>-->
                <li><a href="#"><i class="fa fa-envelope-o"></i> <span class="__cf_email__"
                                                                       data-cfemail="33565e525a5f73565e525a5f1d505c5e">
                    {% if request.user.is_authenticated %}
                                    {{ request.user.email }}
                                {% else %}
                                    Not logged in
                                {% endif %}</span></a>
                </li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right">
                <li>
                    <a href="{% if request.user.is_authenticated %}{% url 'account:logout' %}{% else %}{% url 'account:login' %}{% endif %}">
                        <i class="fas fa-user"></i> {% if request.user.is_authenticated %}
                        Logout
                        {% else %}
                        Login
                        {% endif %}
                    </a>
                </li>
                <li><a href="#"><i class="fa fa-user-o"></i>
                    {% if user.is_authenticated %}
                    Salom, {{ user.full_name }}!
                    {% else %}
                    My Account
                    {% endif %}</a></li>
            </ul>
        </div>
    </div>
</header>
<!-- /HEADER -->